@model movies_project.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1 style="color:#12151e; margin-top: 50px;">Details</h1>
    <div>
        <h4 style="color:#12151e;">Movie</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Story)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Story)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateShow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateShow)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Poster)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Poster)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Runtime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Runtime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actor1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actor1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actor2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actor2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actor3)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actor3)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actor4)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actor4)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trailer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trailer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre.Name)
            </dd>
        </dl>
    </div>
    <div style="margin-bottom: 20px;">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>